* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: darkred;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 4px 0;
    padding: 0;
}

.signup-page header {
    background-color: #fff;
    padding: 25px;
    color: #000;
    display: block;
}

.signup-page header p,
nav,
ul,
li {
    display: inline;
    background-color: #fff;
    color: #000;
}

.signup-page header p {
    text-shadow: 1px 1px #000;
    font-size: 20px;
}

.signup-page header nav ul li {
    float: right;
}

.signup-page .form {
    width: 50%;
    display: block;
    padding: 30px;
    margin: 25px 350px;
}

.signup-page .form .wrap {
    padding: 10px;
    color: grey;
}

.signup-page .form h1 {
    color: red;
    font: normal 30px 'Bitter', serif;
    text-align: center;
    margin: 45px auto;
    background-color: white;
}

.signup-page .form h1 span {
    display: block;
    margin-top: 2px;
    color: grey;
    font: 13px Arial, Helvetica, sans-serif;
}

.signup-page .form label {
    display: block;
    font: 15px Arial, Helvetica, sans-serif;
    color: dimgrey;
    margin: 15px auto;
}


.signup-page .form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: lightgrey;
}

.signup-page .button input {
    background-color: darkgray;
    color: black;
    border: 1px solid black;
}

.signup-page #forgot-password a {
    float: right;
    padding: 15px;
    font-size: 11px;
    color: #BE3234;
    text-decoration: underline;
}

/*create*/

#create-form {
    width: 40%;
    display: block;
    padding: 30px;
    margin: 15px 420px;
}

#create-form wrap {
    padding: 10px;
    color: grey;
}

#create-form h1 {
    color: red;
    font: normal 30px 'Bitter', serif;
    text-align: center;
    margin: 45px auto;
}

#create-form h1 span {
    display: block;
    margin-top: 2px;
    color: grey;
    font: 13px Arial, Helvetica, sans-serif;
}

#create-form label {
    display: block;
    font: 15px Arial, Helvetica, sans-serif;
    color: dimgrey;
    margin: 15px auto;
}


#create-form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: lightgrey;
}

#create-form textarea {
    border: 0.5px solid gray;
}

#create-form .button input {
    background-color: darkgray;
    color: black;
    border: 1px solid black;
}

#account-form {
    width: 50%;
    margin-bottom: 90px;
}

#forgot-password a {
    float: right;
    padding: 15px;
    font-size: 11px;
    color: #BE3234;
    text-decoration: underline;
}

.account-form-page .footer {
    font: 13px Arial, Helvetica, sans-serif;
    color: gray;
    width: 100%;
    padding-top: 15px;
}

.account-form-page .footer tr th {
    text-align: center;
    border: 0.5px solid lightgrey;
    padding: 10px;
}

.account-form-page .footer tr th a {
    color: gray;
}

.account-form-page .footer tr th:hover {
    background-color: black;

}

@media screen and (max-width: 1020px) {
    .signup-page header {
        padding: 10px;
        margin: 0px;
    }

    .signup-page header p {
        font-size: 17px;
    }

    .signup-page header ul li {
        font-size: 17px;
    }

    .signup-page .form {
        width: 100%;
        display: block;
        padding: 40px;
        margin: 15px 0px;
    }

    .signup-page .form h1 {
        font-size: 80px;
    }

    .signup-page .form h1 span {
        font-size: 33px;
    }

    .signup-page .form label {
        font-size: 35px;
        padding: 5px;
    }

    .signup-page .form input {
        padding: 30px;
        border-radius: 6px;
        border: 2px solid #fff;
        background-color: lightgrey;
    }

    .signup-page .button input {
        font-size: 30px;
        margin: 20px 0px;
        background-color: dimgray;
        color: white;
    }

    .signup-page #forgot-password a {
        float: right;
        padding: 15px;
        font-size: 30px;
    }


    #create-form {
        width: 100%;
        margin: 0px;
        display: block;
        padding: 200px;
    }

    #create-form h1 {
        color: red;
        font-size: 70px;
        text-align: center;
    }


    #create-form h1 span {
        display: block;
        margin-bottom: 15px;
        color: grey;
        font-size: 23px;
    }

    #create-form label {
        display: block;
        font-size: 35px;
        margin: 25px auto;
    }

    #create-form input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 28px;
        margin: 30px 0px;
    }

    #create-form .button input {
        font-size: 40px;
    }

    #account-form {
        width: 100%;
        margin-bottom: 90px;
    }
    #account-form h1 {
        font-size: 25px;
    }

    #account-form label {
        font-size: 17px;

    }

    #account-form input {
        padding: 10px;
        margin: 0px;
    }


    #account-form #button-account input {
        background-color: red;
        padding: 5px;
        border-radius: 15px;

    }

    #account-form .footer {
        font-size: 17px;
        padding: 10px;
    }

    #account-form .footer tr th {
        text-align: center;
        border: 0.5px solid lightgrey;
        padding: 10px;
    }
}
