* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}



a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: darkred;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding: 0;
}


header {
    background-color: #fff;
    padding: 15px;
    color: #000;
    display: block;
}

header li {
    display: inline;
    background-color: #fff;
    color: #000;
}

header nav ul #logo {
    display: inline;
    float: left;
    padding: 10px;
}

header nav ul #regis {
    display: inline;
    float: right;
    padding: 10px;
}

h1 {
    color: red;
    font: 30px Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 45px auto;
    background-color: white;
}

h1 span {
    font-size: 12px;
    color: gray;
    display: block;
}

footer ul li {
    display: inline-block;
    padding: 10px 210px;
}

footer ul li a {
    color: black;
}


.home-page h1 {
    color: white;
    padding: 250px;
    text-align: center;
}

.home-page h1 .headline {
    color: #BE3234;
    font-size: 45px;

}

.home-page .middle-home-page {
    text-align: center;
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
    margin: 0px;
    padding: 80px 20px;
    background-color: dimgrey;

}

.home-page div {
    width: 32%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.home-page div img {
    width: 30%;
    padding: 10px;
}

.delete-a-link-page .action-client,
.edit-a-link-page .action-client,
.logout-page .action-client {
    text-align: center;
    color: red;
}

.home-page #reasons #why {
    color: white;
    padding: 50px;
    margin-top: 80px;
}

.signup-page header {
    background-color: #fff;
    padding: 25px;
    color: #000;
    display: block;
}

.signup-page .form {
    width: 50%;
    display: block;
    padding: 30px;
    margin: 25px 350px;
}

.signup-page .form .wrap {
    padding: 10px;
    color: grey;
}

.signup-page .form label {
    display: block;
    font: 15px Arial, Helvetica, sans-serif;
    color: dimgrey;
    margin: 15px auto;
}


.signup-page .form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: lightgrey;
}

.signup-page #forgot-password a {
    float: right;
    padding: 15px;
    font-size: 11px;
    color: #BE3234;
    text-decoration: underline;
}

/*create*/

#create-form,
#account-form {
    width: 40%;
    display: block;
    padding: 30px;
    margin: 15px 420px;
}

#create-form .wrap,
#account-form .wrap {
    padding: 10px;
    color: grey;
}

#create-form h1,
#account-form h1 {
    color: red;
    font: normal 30px 'Bitter', serif;
    text-align: center;
    margin: 45px auto;
}

#create-form label,
#account-form label {
    display: block;
    font: 15px Arial, Helvetica, sans-serif;
    color: dimgrey;
    margin: 15px auto;
}


#create-form input,
#account-form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: lightgrey;
}

#create-form textarea {
    border: 0.5px solid gray;
}


#account-form #forgot-password a {
    float: right;
    padding: 15px;
    font-size: 11px;
    color: #BE3234;
    text-decoration: underline;
}


/*account-dashboard-page*/

.account-dashboard-page .table-base {
    font: 13px Arial, Helvetica, sans-serif;
    color: gray;
    width: 100%;
    margin: 15px;
    padding: 30px;
}

.account-dashboard-page td,
.account-dashboard-page th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.account-dashboard-page tr:nth-child(even) {
    background-color: #dddddd;
}

.account-dashboard-page .create-button-div .create-button {
    background-color: red;
    color: #fff;
    border-radius: 15px;
    margin: auto 10px 40px 1300px;
    padding: 10px;
}


/*view link page*/

.view-link-page .view-link-button {
    background-color: red;
    border-radius: 15px;
    margin: 30px;
    padding: 20px;
    display: inline;
}

.view-link-button a {
    color: #fff;
}


@media only screen and (max-width:1000px) {

    nav {
        padding: 30px;
        font-size: 55px;
    }
    nav #regis button {
        font-size: 35px;
    }
    #tag-line {
        padding: 200px 5px;
    }
    #tag-line .headline {
        font-size: 100px;
    }
    .home-page .middle-home-page {
        padding: 50px;
    }
    .home-page .middle-home-page div {
        text-align: center;
        font-size: 30px;
        padding: 55px;

    }
    .home-page .middle-home-page div img {
        width: 130%;
        display: block;
    }
    .home-page #reasons {
        padding: 100px;
    }
    .home-page #reasons #why {
        color: white;
        padding: 20px;
        margin: 2px;
    }

    footer {
        color: white;
    }

    footer ul {
        background-color: white;
    }

    footer ul li {
        display: inline-block;
        padding: 20px 100px;
        margin: auto;
    }

    footer ul li a {
        color: black;
        text-align: center;
        font-size: 25px;
    }


    .signup-page .form {
        width: 100%;
        display: block;
        padding: 50px;
        margin: 15px 0px;
    }

    .signup-page .form label {
        font-size: 25px;
        padding: 15px;
    }

    .signup-page .form input {
        padding: 30px;
    }

    .signup-page .button input {
        font-size: 20px;
        margin: 10px 0px;
    }

    .signup-page #forgot-password a {
        float: right;
        padding: 15px;
        font-size: 23px;
    }


    #create-form {
        width: 100%;
        margin: 0px;
        display: block;
        padding: 20px;
    }


    #create-form label {
        display: block;
        font-size: 25px;
        margin: 10px auto;
    }

    #create-form input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 18px;
        margin: 30px 0px;
        font-size: 30px;
    }
    #create-form label textarea {
        width: 100%;
    }


    #account-form {
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    #account-form label {
        font-size: 27px;

    }

    #account-form input {
        padding: 20px;
        margin: 0px;
        font-size: 27px;
    }

    .account-dashboard-page .table-base {
        color: gray;
        width: 100%;
        padding: 10px;
        margin: 0px;
    }

    .account-dashboard-page .table-base tr th {
        padding: 15px;
        font-size: 27px;
    }

    .account-dashboard-page .create-button-div .create-button {
        border-radius: 15px;
        margin: 20px 120px;
        padding: 10px 30px;
        font-size: 20px;
    }

    .account-dashboard-page section h4,
    .account-page section h1 {
        font: 33px Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 70px;
    }


    .account-dashboard-page .table-base {
        font: 13px Arial, Helvetica, sans-serif;
        color: gray;
        width: 100%;
        margin: 15px;
        padding: 30px;
    }

    .account-dashboard-page td,
    .account-dashboard-page th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        font-size: 35px;
    }

    .account-dashboard-page tr:nth-child(even) {
        background-color: #dddddd;
    }

    /*password*/
    .password-page .wrap h1 span {
        display: block;
        padding: 10px;
        color: grey;
    }

    /*view link page*/
    .view-link-page .view-link-button {
        background-color: red;
        font-size: 25px;
        border-radius: 15px;
        margin: 25px;
        padding: 25px;
        display: inline;
    }

    /*delete*/
    .delete {
        font: 33px Arial, Helvetica, sans-serif;
        color: red;
        text-align: center;
        display: block;
        padding: 110px;
        margin: 100px;
    }

    /*logout*/
    .logout {
        font-size: 45px;
        color: red;
        text-align: center;
        padding: 100px;
        margin-top: 200px;
    }
}
