* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    background-color: #1C1C1E;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: darkred;
}


header {
    background-color: #fff;
    padding: 25px;
    color: #000;
    display: block;
}

header p,
nav,
ul,
li {
    display: inline;
    background-color: #fff;
    color: #000;
}

header p {
    text-shadow: 1px 1px #000;
    font-size: 20px;
}

header nav ul li {
    float: right;
}

header ul li {
    float: right;
}

h1 {
    color: white;
    padding: 150px;
    text-align: center;
}

h1 .headline {
    color: #BE3234;
    font-size: 45px;

}

h2 section,
img {
    background-color: #fff;
}

h2 {
    padding: 100px;
    background-color: #fff;
}

section {
    width: 25%;
    display: inline-block;
    text-align: center;
    color: #BE3234;
    margin-right: 30px;
    font-size: 24px;
}

section img {
    width: 30%;
    padding: 10px;
}

footer p {
    display: block;
    background-color: #fff;
    color: #000;
    position: relative;
    padding: 30px;
    margin-top: 550px;
}
