* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px; }

nav {
  width: 100%;
  background-color: #E8F1F2;
  padding: 10px; }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none; }
    nav ul #logo a {
      text-decoration: none; }
      nav ul #logo a p {
        color: #387780; }
    nav ul #regis {
      border-bottom-left-radius: 50px; }
      nav ul #regis button {
        background-color: #7E6E93;
        color: #E8F1F2;
        width: 140px;
        height: 40px; }

.home-page {
  display: flex;
  justify-content: center;
  align-items: center; }
  .home-page #particles-js {
    background-color: #387780;
    z-index: 1;
    width: 100%;
    height: 100vh; }
  .home-page #tag-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    position: absolute;
    background-color: #E8F1F2;
    width: 100%; }
    @media (max-width: 735px) {
      .home-page #tag-line {
        flex-direction: column; } }
    @media (max-width: 480px) {
      .home-page #tag-line {
        flex-direction: column; } }
    .home-page #tag-line h1 {
      font: 30px Arial, Helvetica, sans-serif;
      color: #E8F1F2;
      padding: 30px;
      color: #272D2D;
      font-weight: bolder; }
      @media (max-width: 735px) {
        .home-page #tag-line h1 {
          padding: 15px; } }
      @media (max-width: 480px) {
        .home-page #tag-line h1 {
          font-size: 25px;
          padding: 5px; } }
    .home-page #tag-line button {
      background-color: #7E6E93;
      color: #E8F1F2;
      width: 140px;
      height: 40px; }
  .home-page .signup-page {
    display: none;
    z-index: 3;
    position: absolute; }
    .home-page .signup-page .wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7E6E93;
      flex-direction: column;
      padding: 2px;
      border: 2px solid #7E6E93; }
      .home-page .signup-page .wrap #close {
        font-size: 17px;
        color: #E8F1F2;
        width: 95%; }
      .home-page .signup-page .wrap #reg-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        background-color: #E8F1F2;
        text-align: center; }
        .home-page .signup-page .wrap #reg-tabs span {
          width: 50%;
          padding: 10px;
          cursor: pointer;
          border: 2px solid #7E6E93;
          color: #7E6E93;
          font: 16px Arial, Helvetica, sans-serif; }
        .home-page .signup-page .wrap #reg-tabs .active {
          background-color: #7E6E93;
          color: #E8F1F2; }
      .home-page .signup-page .wrap form {
        background-color: #E8F1F2;
        border: 2px solid #7E6E93;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        @media (max-width: 735px) {
          .home-page .signup-page .wrap form {
            padding: 10px; } }
        @media (max-width: 480px) {
          .home-page .signup-page .wrap form {
            padding: 5px; } }
        .home-page .signup-page .wrap form label {
          color: #7D8491;
          font-size: 18px;
          text-align: left;
          padding: 10px;
          color: #7D8491;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          @media (max-width: 735px) {
            .home-page .signup-page .wrap form label {
              padding: 7px;
              font-size: 16px; } }
          @media (max-width: 480px) {
            .home-page .signup-page .wrap form label {
              padding: 5px;
              font-size: 14px; } }
          .home-page .signup-page .wrap form label input {
            width: 400px;
            height: 30px; }
            @media (max-width: 480px) {
              .home-page .signup-page .wrap form label input {
                width: 250px; } }
        .home-page .signup-page .wrap form button {
          background-color: #7E6E93;
          color: #E8F1F2;
          width: 140px;
          height: 40px; }
      .home-page .signup-page .wrap #signup-form {
        display: none; }

.middle-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E8F1F2;
  height: 100vh; }
  .middle-home-page h2 {
    font: 30px Arial, Helvetica, sans-serif;
    color: #E8F1F2;
    padding: 30px;
    background-color: #7E6E93;
    width: 50%;
    align-self: start;
    border-top-right-radius: 50px; }
    @media (max-width: 735px) {
      .middle-home-page h2 {
        padding: 15px; } }
    @media (max-width: 480px) {
      .middle-home-page h2 {
        font-size: 25px;
        padding: 5px; } }
  .middle-home-page #div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%; }
    .middle-home-page #div-img span {
      color: #7E6E93;
      font: 16px Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #387780;
      color: #E8F1F2;
      width: 100%;
      height: 100%; }
      @media (max-width: 480px) {
        .middle-home-page #div-img span {
          flex-direction: column; } }
      .middle-home-page #div-img span img {
        width: 30%; }
        @media (min-width: 736px) {
          .middle-home-page #div-img span img {
            width: 35%; } }
        @media (max-width: 735px) {
          .middle-home-page #div-img span img {
            width: 40%; } }
        @media (max-width: 480px) {
          .middle-home-page #div-img span img {
            width: 45%; } }
  .middle-home-page #reasons p {
    color: #7D8491;
    font-size: 18px;
    text-align: left;
    padding: 10px; }
    @media (max-width: 735px) {
      .middle-home-page #reasons p {
        padding: 7px;
        font-size: 16px; } }
    @media (max-width: 480px) {
      .middle-home-page #reasons p {
        padding: 5px;
        font-size: 14px; } }
  .middle-home-page button {
    background-color: #7E6E93;
    color: #E8F1F2;
    width: 140px;
    height: 40px;
    padding-bottom: 10px; }

.account-dashboard-page {
  background-color: #387780;
  width: 100%;
  height: auto; }
  .account-dashboard-page h1 {
    font: 30px Arial, Helvetica, sans-serif;
    color: #E8F1F2;
    padding: 30px;
    width: 50%;
    background-color: #7E6E93;
    align-self: start;
    border-top-right-radius: 50px; }
    @media (max-width: 735px) {
      .account-dashboard-page h1 {
        padding: 15px; } }
    @media (max-width: 480px) {
      .account-dashboard-page h1 {
        font-size: 25px;
        padding: 5px; } }
  .account-dashboard-page .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    height: 100vh; }
    @media (max-width: 735px) {
      .account-dashboard-page .wrapper {
        padding: 15px; } }
    @media (max-width: 480px) {
      .account-dashboard-page .wrapper {
        padding: 5px; } }
    .account-dashboard-page .wrapper table {
      background-color: #E8F1F2;
      border: 1px solid #7D8491;
      width: 80%;
      padding: 50px; }
      @media (max-width: 735px) {
        .account-dashboard-page .wrapper table {
          width: 90%;
          padding: 30px; } }
      @media (max-width: 480px) {
        .account-dashboard-page .wrapper table {
          width: 95%;
          padding: 15px; } }
      .account-dashboard-page .wrapper table tr th {
        color: #387780;
        border: 1px solid #272D2D;
        text-align: center;
        padding: 15px; }
      .account-dashboard-page .wrapper table tr td {
        color: #272D2D;
        border: 1px solid #272D2D;
        text-align: center;
        padding: 15px; }
      .account-dashboard-page .wrapper table tr:nth-child(even) {
        background-color: #7E6E93; }
    .account-dashboard-page .wrapper .create-button-div {
      padding: 50px; }
      .account-dashboard-page .wrapper .create-button-div a {
        text-decoration: none; }
        .account-dashboard-page .wrapper .create-button-div a button {
          background-color: #7E6E93;
          color: #E8F1F2;
          width: 140px;
          height: 40px; }

.create-a-link-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #387780; }
  .create-a-link-page h1 {
    font: 30px Arial, Helvetica, sans-serif;
    color: #E8F1F2;
    padding: 30px;
    align-self: start;
    background-color: #7E6E93;
    width: 50%;
    border-top-right-radius: 50px; }
    @media (max-width: 735px) {
      .create-a-link-page h1 {
        padding: 15px; } }
    @media (max-width: 480px) {
      .create-a-link-page h1 {
        font-size: 25px;
        padding: 5px; } }
  .create-a-link-page .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    padding: 50px; }
    .create-a-link-page .wrapper form {
      background-color: #E8F1F2;
      border: 2px solid #7E6E93;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      @media (max-width: 735px) {
        .create-a-link-page .wrapper form {
          padding: 5px; } }
      @media (max-width: 480px) {
        .create-a-link-page .wrapper form {
          padding: 15px; } }
      .create-a-link-page .wrapper form label {
        color: #7D8491;
        font-size: 18px;
        text-align: left;
        padding: 10px;
        color: #7D8491;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        @media (max-width: 735px) {
          .create-a-link-page .wrapper form label {
            padding: 7px;
            font-size: 16px; } }
        @media (max-width: 480px) {
          .create-a-link-page .wrapper form label {
            padding: 5px;
            font-size: 14px; } }
        .create-a-link-page .wrapper form label input {
          padding: 10px;
          width: 400px;
          height: 40px; }
          @media (max-width: 480px) {
            .create-a-link-page .wrapper form label input {
              width: 300px; } }
      .create-a-link-page .wrapper form button {
        background-color: #7E6E93;
        color: #E8F1F2;
        width: 140px;
        height: 40px; }

.view-link-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E8F1F2; }
  .view-link-page h1 {
    font: 30px Arial, Helvetica, sans-serif;
    color: #E8F1F2;
    padding: 30px;
    align-self: start;
    background-color: #7E6E93;
    width: 50%; }
    @media (max-width: 735px) {
      .view-link-page h1 {
        padding: 15px; } }
    @media (max-width: 480px) {
      .view-link-page h1 {
        font-size: 25px;
        padding: 5px; } }
  .view-link-page #view-link {
    background-color: #387780;
    width: 50%; }
  .view-link-page #link-options button {
    background-color: #7E6E93;
    color: #E8F1F2;
    width: 140px;
    height: 40px; }

footer {
  margin: auto auto 0 auto;
  position: relative;
  width: 100%;
  background-color: #272D2D; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
    footer ul li {
      padding: 10px; }
      footer ul li a {
        text-decoration: none;
        color: #E8F1F2; }
        footer ul li a i {
          color: #E8F1F2;
          font-size: 18px; }

/*# sourceMappingURL=styles.css.map */
